.button {
  background: var(--color-black);
  color: var(--color-primary);

  border: none;
  border-radius: 12px;

  padding: 10px 16px;
  cursor: pointer;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
}