.section {
  background: #121212;
  padding: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  color: white;
}

.header button {
  background: transparent;
  border: none;
  color: #34c94b;
  cursor: pointer;
  font-weight: 600;
}

.grid {
  margin-top: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}